<!--section -->
<section id="home-slider" class="hero-section fullscreen " data-scrollax-parent="true">
    <div class="hero-parallax">
      <div class="slideshow-container" data-scrollax="properties: { translateY: '200px' }">
        <!-- slideshow-item -->
        <div class="slideshow-item">
          <div class="bg" data-bg="assets/images/bg/bg-2.jpg"></div>
        </div>
        <!-- slideshow-item end -->
        <!-- slideshow-item -->
        <div class="slideshow-item">
          <div class="bg" data-bg="assets/images/bg/bg-3.jpg"></div>
        </div>
        <!-- slideshow-item end -->
        <!-- slideshow-item -->
        <div class="slideshow-item">
          <div class="bg" data-bg="assets/images/bg/bg-2.jpg"></div>
        </div>
        <!-- slideshow-item end -->
      </div>
      <div class="overlay op7"></div>
    </div>
    <div class="hero-section-wrap fl-wrap">
      <div class="container">
        <div class="home-intro">
          <div class="row text-center">
            <div class="col-md-12 text-white">
              <h1 class="animated3 text-white mb-20">tired
                         <span>of</span>
                         being
                         <span>
                         alone</span>
                      </h1>
              <h2 class="textrotate">
                         <span class="rotate">
                         Create Profile, Find Match, Start Partner</span>
                      </h2>
            </div>
          </div>
          <div class="main-search-input-wrap searchMain">
             <form #userSearch="ngForm"  (ngSubmit)="searchSbumit(user)">
             <div class="main-search-input fl-wrap">
             <div class="row">
              <div class="col-md-2">
                <div class="col-list-search-input-item in-loc-dec fl-wrap not-vis-arrow">
                  <label>I am</label>
                  <div class="listsearch-input-item">
                    <mat-form-field>
                      <mat-select placeholder="Looking for"  [(ngModel)]="user.uLooking"  name ="uLooking">
                        <mat-option>-- None --</mat-option>
                        <mat-option   *ngFor="let looking of lookingArr" [value]="looking.name">{{looking.name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                                      <div class="col-md-6">
                                              <div class="col-list-search-input-item in-loc-dec fl-wrap not-vis-arrow">
                                                  <label>Age</label>
                                                  <div class="listsearch-input-item">
                                                      <mat-form-field>
                                                        <mat-select placeholder="From"  [(ngModel)]="user.ageFrom"  name ="ageFrom">
                                                          <mat-option>-- None --</mat-option>
                                                          <mat-option   [value]="age"  *ngFor="let age of ageArr">{{age}}</mat-option>
                                                        </mat-select>
                                                      </mat-form-field>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-md-6">
                                                  <div class="col-list-search-input-item in-loc-dec fl-wrap not-vis-arrow">
                                                      <label>Age</label>
                                                      <div class="listsearch-input-item">

                                                          <mat-form-field>
                                                            <mat-select placeholder="To" [(ngModel)]="user.ageTo"  name ="ageTo">
                                                              <mat-option>-- None --</mat-option>
                                                              <mat-option   [value]="age"  *ngFor="let age of ageArr">{{age}}</mat-option>
                                                            </mat-select>
                                                          </mat-form-field>
                                                      </div>
                                                  </div>
                                              </div>
              </div>

              <div class="col-md-2">
                <div class="col-list-search-input-item in-loc-dec fl-wrap not-vis-arrow" >
                  <label>Of</label>
                  <div class="listsearch-input-item">
                      <mat-form-field>
                          <mat-select placeholder="Religion" [(ngModel)]="user.religion"  name ="religion">
                            <mat-option>-- None --</mat-option>
                            <mat-option  [value]="data.mst_religion_id" *ngFor="let data of religionDrop">{{data.mst_religion_detail}}</mat-option>
                          </mat-select>
                        </mat-form-field>

                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="col-list-search-input-item in-loc-dec fl-wrap not-vis-arrow">
                  <label>And </label>
                  <div class="listsearch-input-item">
                      <mat-form-field>
                          <mat-select placeholder="Mother Tongue"  [(ngModel)]="user.motherTongue"  name ="motherTongue">
                            <mat-option>-- None --</mat-option>
                            <mat-option  [value]="data.mst_mtongue_id" *ngFor="let data of motherTongue">{{data.mst_mtongue_detail}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                  </div>
                </div>
                    </div>
                        <div class="col-md-2">
                            <button type="submit" class="button btn-lg btn-theme animated right-icn"  ><span>Let's Begin
                              <i class="glyph-icon flaticon-hearts" aria-hidden="true"></i>
                            </span></button>
                          </div>
                    </div>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
      <div class="bubble-bg"></div>

  </section>
  <!-- section end  -->
  <!-- wrapper -->
  <div id="wrapper" class="home-wrap">
    <!-- content-->
    <div class="content">
      <!--section -->
      <section id="sec2">
        <div class="container">
          <div class="row justify-content-center mb-5 sm-mb-3">
            <div class="col-md-8">
              <h2 class="title divider mb-3">Step to find your Soul Mate</h2>
              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 sm-mb-3">
              <div class="timeline-badge mb-2">
                <img class="img-center" src="assets/images/timeline/01.png" alt="">
              </div>
              <h4 class="title divider-3 mb-3">CREATE PROFILE</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis</p>
            </div>
            <div class="col-md-4 sm-mb-3">
              <div class="timeline-badge mb-2">
                <img class="img-center" src="assets/images/timeline/02.png" alt="">
              </div>
              <h4 class="title divider-3 mb-3">FIND MATCH</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis</p>
            </div>
            <div class="col-md-4">
              <div class="timeline-badge mb-2">
                <img class="img-center" src="assets/images/timeline/03.png" alt="">
              </div>
              <h4 class="title divider-3 mb-3">START Partner</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis</p>
            </div>
          </div>
        </div>
      </section>
      <!-- section end -->
      <!--================================= They found true love -->
      <section class="page-section-ptb grey-bg story-slider">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8 text-center">
              <h2 class="title divider">They Found 5 Million Matches & Counting</h2>
            </div>
          </div>
        </div>
        <div class="owl-carousel" data-nav-dots="true" data-items="5" data-md-items="4" data-sm-items="2" data-xx-items="1" data-space="30">
          <div class="item">
            <div class="story-item">
              <div class="story-image clearfix">
                <img class="img-fluid" src="assets/images/story/01.jpg" alt="" />
                <div class="story-link">
                  <a href="#" class="modal-open"> <i class="glyph-icon flaticon-add"></i>
                  </a>
                </div>
              </div>
              <div class="story-details text-center">
                <h5 class="title divider-3">Quinnel &amp; Jonet</h5>
                <div class="about-des mt-3">Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in</div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="story-item">
              <div class="story-image clearfix">
                <img class="img-fluid" src="assets/images/story/02.jpg" alt="" />
                <div class="story-link">
                  <a href="#" class="modal-open"> <i class="glyph-icon flaticon-add"></i>
                  </a>
                </div>
              </div>
              <div class="story-details text-center">
                <h5 class="title divider-3">Adam &amp; Eve</h5>
                <div class="about-des mt-3">Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in</div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="story-item">
              <div class="story-image clearfix">
                <img class="img-fluid" src="assets/images/story/03.jpg" alt="" />
                <div class="story-link">
                  <a href="#" class="modal-open"> <i class="glyph-icon flaticon-add"></i>
                  </a>
                </div>
              </div>
              <div class="story-details text-center">
                <h5 class="title divider-3">Bella &amp; Edward</h5>
                <div class="about-des mt-3">Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in</div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="story-item">
              <div class="story-image clearfix">
                <img class="img-fluid" src="assets/images/story/04.jpg" alt="" />
                <div class="story-link">
                  <a href="#" class="modal-open"> <i class="glyph-icon flaticon-add"></i>
                  </a>
                </div>
              </div>
              <div class="story-details text-center">
                <h5 class="title divider-3">DEMI &amp; HEAVEN</h5>
                <div class="about-des mt-3">Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in</div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="story-item">
              <div class="story-image clearfix">
                <img class="img-fluid" src="assets/images/story/05.jpg" alt="" />
                <div class="story-link">
                  <a href="#" class="modal-open"> <i class="glyph-icon flaticon-add"></i>
                  </a>
                </div>
              </div>
              <div class="story-details text-center">
                <h5 class="title divider-3">David &amp; Bathsheba</h5>
                <div class="about-des mt-3">Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in</div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="story-item">
              <div class="story-image clearfix">
                <img class="img-fluid" src="assets/images/story/06.jpg" alt="" />
                <div class="story-link">
                  <a href="#" class="modal-open"> <i class="glyph-icon flaticon-add"></i>
                  </a>
                </div>
              </div>
              <div class="story-details text-center">
                <h5 class="title divider-3">Eros &amp; Psychi</h5>
                <div class="about-des mt-3">Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in</div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="story-item">
              <div class="story-image clearfix">
                <img class="img-fluid" src="assets/images/story/07.jpg" alt="" />
                <div class="story-link">
                  <a href="#" class="modal-open"> <i class="glyph-icon flaticon-add"></i>
                  </a>
                </div>
              </div>
              <div class="story-details text-center">
                <h5 class="title divider-3">Hector &amp; Andromache</h5>
                <div class="about-des mt-3">Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in</div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="story-item">
              <div class="story-image clearfix">
                <img class="img-fluid" src="assets/images/story/08.jpg" alt="" />
                <div class="story-link">
                  <a href="#" class="modal-open"> <i class="glyph-icon flaticon-add"></i>
                  </a>
                </div>
              </div>
              <div class="story-details text-center">
                <h5 class="title divider-3">Bonnie &amp; Clyde</h5>
                <div class="about-des mt-3">Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in</div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="story-item">
              <div class="story-image clearfix">
                <img class="img-fluid" src="assets/images/story/09.jpg" alt="" />
                <div class="story-link">
                  <a href="#" class="modal-open"> <i class="glyph-icon flaticon-add"></i>
                  </a>
                </div>
              </div>
              <div class="story-details text-center">
                <h5 class="title divider-3">Henry &amp; Clare</h5>
                <div class="about-des mt-3">Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in</div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="story-item">
              <div class="story-image clearfix">
                <img class="img-fluid" src="assets/images/story/10.jpg" alt="" />
                <div class="story-link">
                  <a href="#" class="modal-open"> <i class="glyph-icon flaticon-add"></i>
                  </a>
                </div>
              </div>
              <div class="story-details text-center">
                <h5 class="title divider-3">Casanova &amp; Francesca</h5>
                <div class="about-des mt-3">Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in</div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="story-item">
              <div class="story-image clearfix">
                <img class="img-fluid" src="assets/images/story/11.jpg" alt="" />
                <div class="story-link">
                  <a href="#" class="modal-open"> <i class="glyph-icon flaticon-add"></i>
                  </a>
                </div>
              </div>
              <div class="story-details text-center">
                <h5 class="title divider-3">Jack &amp; Sally</h5>
                <div class="about-des mt-3">Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in</div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="story-item">
              <div class="story-image clearfix">
                <img class="img-fluid" src="assets/images/story/12.jpg" alt="" />
                <div class="story-link">
                  <a href="#" class="modal-open"> <i class="glyph-icon flaticon-add"></i>
                  </a>
                </div>
              </div>
              <div class="story-details text-center">
                <h5 class="title divider-3">James &amp; Lilly</h5>
                <div class="about-des mt-3">Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="page-section-ptb profile-slider pb-5">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8 text-center">
              <h2 class="title divider">Last Added Profiles</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="owl-carousel" data-nav-arrow="true" data-items="4" data-md-items="4" data-sm-items="2" data-xx-items="1" data-space="30">
                <div class="item">
                  <a href="list.html" class="profile-item">
                    <div class="profile-image clearfix">
                      <img class="img-fluid w-100" src="assets/images/profile/01.jpg" alt="" />
                    </div>
                    <div class="profile-details text-center">
                      <h5 class="title">Bill Nelson</h5>
                      <span>23 Years Old</span>
                    </div>
                  </a>
                </div>
                <div class="item">
                  <a href="list.html" class="profile-item">
                    <div class="profile-image clearfix">
                      <img class="img-fluid w-100" src="assets/images/profile/02.jpg" alt="" />
                    </div>
                    <div class="profile-details text-center">
                      <h5 class="title">Francisco Pierce</h5>
                      <span>21 Years Old</span>
                    </div>
                  </a>
                </div>
                <div class="item">
                  <a href="list.html" class="profile-item">
                    <div class="profile-image clearfix">
                      <img class="img-fluid w-100" src="assets/images/profile/03.jpg" alt="" />
                    </div>
                    <div class="profile-details text-center">
                      <h5 class="title">Nelle Townsend</h5>
                      <span>19 Years Old</span>
                    </div>
                  </a>
                </div>
                <div class="item">
                  <a href="list.html" class="profile-item">
                    <div class="profile-image clearfix">
                      <img class="img-fluid w-100" src="assets/images/profile/04.jpg" alt="" />
                    </div>
                    <div class="profile-details text-center">
                      <h5 class="title">Glen Bell</h5>
                      <span>20 Years Old</span>
                    </div>
                  </a>
                </div>
                <div class="item">
                  <a href="list.html" class="profile-item">
                    <div class="profile-image clearfix">
                      <img class="img-fluid w-100" src="assets/images/profile/05.jpg" alt="" />
                    </div>
                    <div class="profile-details text-center">
                      <h5 class="title">Bill Nelson</h5>
                      <span>22 Years Old</span>
                    </div>
                  </a>
                </div>
                <div class="item">
                  <a href="list.html" class="profile-item">
                    <div class="profile-image clearfix">
                      <img class="img-fluid w-100" src="assets/images/profile/06.jpg" alt="" />
                    </div>
                    <div class="profile-details text-center">
                      <h5 class="title">Francisco Pierce</h5>
                      <span>23 Years Old</span>
                    </div>
                  </a>
                </div>
                <div class="item">
                  <a href="list.html" class="profile-item">
                    <div class="profile-image clearfix">
                      <img class="img-fluid w-100" src="assets/images/profile/07.jpg" alt="" />
                    </div>
                    <div class="profile-details text-center">
                      <h5 class="title">Nelle Townsend</h5>
                      <span>19 Years Old</span>
                    </div>
                  </a>
                </div>
                <div class="item">
                  <a href="list.html" class="profile-item">
                    <div class="profile-image clearfix">
                      <img class="img-fluid w-100" src="assets/images/profile/08.jpg" alt="" />
                    </div>
                    <div class="profile-details text-center">
                      <h5 class="title">Glen Bell</h5>
                      <span>22 Years Old</span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--================================= they found true love -->
      <!-- section end -->
      <!--section -->
      <section class="parallax-section" data-scrollax-parent="true">
        <div class="bg" data-bg="assets/images/bg/bg-2.jpg" data-scrollax="properties: { translateY: '100px' }"></div>
        <div class="overlay op7"></div>
        <!--container-->
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-3 col-md-3 text-center">
              <div class="counter fancy stats"> <i class="glyph-icon flaticon-people-2"></i>
                <span class="num timer" data-content="0" data-num="12168">12168</span>
                <label>Total Members</label>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 text-center">
              <div class="counter fancy stats"> <i class="glyph-icon flaticon-favorite"></i>
                <span class="num timer" data-content="0" data-num="12168">12168</span>
                <label>Online Members</label>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 text-center">
              <div class="counter fancy stats"> <i class="glyph-icon flaticon-wedding-rings"></i>
                <span class="num timer" data-content="0" data-num="12168">12168</span>
                <label>Men Online</label>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 text-center">
              <div class="counter fancy stats"> <i class="glyph-icon flaticon-love-birds"></i>
                <span class="num timer" data-content="0" data-num="12168">12168</span>
                <label>Women Online</label>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="page-section-ptb pb-130 sm-pb-6 white-bg">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8 text-center">
              <h2 class="title divider">Testimonials</h2>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-10">
              <div class="owl-carousel" data-nav-dots="true" data-items="1" data-md-items="1" data-sm-items="1">
                <div class="item">
                  <div class="testimonial left_pos">
                    <div class="testimonial-avatar">
                      <img alt="" src="assets/images/thumbnail/thum-1.jpg">
                    </div>
                    <div class="testimonial-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</div>
                    <div class="author-info"> <strong>Jack Thompson -
    <span>Usa</span></strong>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="testimonial left_pos">
                    <div class="testimonial-avatar">
                      <img alt="" src="assets/images/thumbnail/thum-2.jpg">
                    </div>
                    <div class="testimonial-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</div>
                    <div class="author-info"> <strong>Miss Jorina Akter -
    <span>Iraq</span></strong>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="testimonial left_pos">
                    <div class="testimonial-avatar">
                      <img alt="" src="assets/images/thumbnail/thum-3.jpg">
                    </div>
                    <div class="testimonial-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</div>
                    <div class="author-info"> <strong>Adam Cooper -
    <span>
    New york</span></strong>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- section end -->
      <section class="parallax-section" data-scrollax-parent="true">
        <div class="bg page-section-ptb bg text-white bg-overlay-black-50" data-bg="assets/images/bg/bg-5.jpg" data-scrollax="properties: { translateY: '100px' }"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8 text-center text-white">
              <h2 class="title title2 divider mb-3">Get The Best
    <label>Dating</label>
    Team Now</h2>
              <h5 class="pb-20">Want to hear more story, subscribe for our newsletter</h5>
              <a class="button  btn-lg btn-theme full-rounded animated right-icn"> <span>Subscribe<i class="glyph-icon flaticon-hearts" aria-hidden="true"></i></span>
              </a>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- content end-->
  </div>
  <!--wrapper end -->
