<!--=================================banner -->
<!-- <section class="inner-intro bg bg-fixed bg-overlay-black-60" style="background-image:url(assets/images/bg/14.jpg);">
  <div class="container">
    <div class="flat-title-wrap">
      <h2><span>Account details</span></h2>
      <span class="section-separator"></span>
      <h4>Welcome! Let's start your partner search with this Sign up.
      </h4>
    </div>
  </div>
</section> -->

<!--================================= banner -->
<!-- wrapper -->
<div id="wrapper" class="home-wrap">
  <!-- content-->
  <div class="content">
    <section class="grey-blue-bg small-padding" id="sec1">
      <div class="container">
        <div class="row">
          <!--listing -->
          <div class="col-md-10">
            <div class="list-single-main-item fl-wrap no-mar-bottom ">
              <div class="list-single-main-item-title fl-wrap">
                <h3>Account Details </h3>
                <!-- <span> Welcome! Let's start your partner search with this Sign up.  </span> -->
              </div>
             <!-- <form>
                <div class="col-md-6">
                  <mat-form-field class="demo-full-width">
                    <input matInput type="email" placeholder="Email">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="demo-full-width">
                    <input matInput type="password" placeholder="Password">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field>
                    <mat-select placeholder="Create profile for">
                      <mat-option>-- None --</mat-option>
                      <mat-option value="1">Self</mat-option>
                      <mat-option value="2">Son</mat-option>
                      <mat-option value="3">Daughter</mat-option>
                      <mat-option value="3">Brother</mat-option>
                      <mat-option value="3">Sister</mat-option>
                      <mat-optgroup label="Others">
                        <mat-option value="4">Relative/Friend</mat-option>
                        <mat-option value="5">Client-Marriage Bureau</mat-option>
                      </mat-optgroup>
                    </mat-select>
                  </mat-form-field>
                </div>
               <div class="col-md-6">
                      <mat-radio-group>
                          <label>Gender</label>
                        <mat-radio-button value="1">Male</mat-radio-button>
                        <mat-radio-button value="2">Female</mat-radio-button>
                      </mat-radio-group>
                    </div> 
                <div class="col-md-6">
                  <mat-form-field>
                    <input matInput type="text" placeholder="Full Name">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="demo-full-width">
                    <input matInput [matDatepicker]="picker" placeholder="Date of birth">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi="true" #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="demo-full-width">
                    <input matInput type="email" placeholder="Email">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="demo-full-width">
                    <span matPrefix>+91 &nbsp;</span>
                    <input type="tel" matInput placeholder="Mobile No">
                  </mat-form-field>
                </div>
                <div class="col-md-12 text-right">
                  <button mat-raised-button color="accent">Register Me</button>
                  <p>By clicking on 'Register me', you confirm
                    that you accept the Terms of Use and Privacy Policy</p>
                </div>
              </form>-->

              <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
                {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
              </button>
              <mat-horizontal-stepper [linear]="isLinear" #stepper>
                <mat-step [stepControl]="firstFormGroup">
                  <form [formGroup]="firstFormGroup" (submit)= "firstSbumit()"> 
                    <ng-template matStepLabel>Fill out your name</ng-template>
                    <div class="col-md-6">
                    <mat-form-field class="demo-full-width">
                        <input matInput type="email" placeholder="Email" formControlName="email" required>
                    </mat-form-field>
                    </div>
                    <div class="col-md-6">
                    <mat-form-field class="demo-full-width">
                        <input matInput type="password" placeholder="Password" formControlName="password" required>
                    </mat-form-field>
                    </div>
                    <div class="col-md-6">                      
                    <mat-form-field>
                        <mat-select placeholder="Create profile for" formControlName="create_profile_for"  (change)="profilefor($event.value)">
                          <mat-option>-- None --</mat-option>
                          <mat-option  [value]="data.mst_pfor_id" *ngFor="let data of profileDrop">{{data.mst_pfor_detail}}</mat-option>

                          <mat-optgroup label="Others">
                            <mat-option [value]="otherData.mst_pfor_id" *ngFor="let otherData of otherDrop[0]" >{{otherData.mst_pfor_detail}}</mat-option>
                            
                          </mat-optgroup>
                        </mat-select>
                      </mat-form-field>
                      <mat-radio-group formControlname="gender" [hidden]="isGenderEnable">                             
                        <mat-radio-button [value]="gen" *ngFor="let gen of genders" >{{gen}}</mat-radio-button>
                        
                      </mat-radio-group>
                      
                      </div>
                      
                      <div class="col-md-6">
                    <mat-form-field>
                      <input matInput placeholder="Last name, First name" formControlName="name" required>
                    </mat-form-field> 
                    </div>
                    <div class="col-md-6">
                  <mat-form-field class="demo-full-width">
                    <input matInput [matDatepicker]="picker" formControlName="dob" placeholder="Date of birth">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi="true" #picker></mat-datepicker>
                  </mat-form-field>
                  </div>
                  <div class="col-md-6">
                  <mat-form-field>
                      <input matInput placeholder="Mobile No." formControlName="mobile" required>
                    </mat-form-field> 
                  </div>
                    <div>
                      <button mat-raised-button color="accent" mat-button matStepperNext>Next</button>                      
                    </div>
                  </form>
                </mat-step>
                <mat-step [stepControl]="secondFormGroup">
                  <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Fill out your address</ng-template>
                    <mat-form-field>
                      <input matInput placeholder="Address" formControlName="secondCtrl" required>
                    </mat-form-field>
                    <div>
                      <button mat-button matStepperPrevious>Back</button>
                      <button mat-button matStepperNext>Next</button>
                    </div>
                  </form>
                </mat-step>
                <mat-step>
                  <ng-template matStepLabel>Done</ng-template>
                  You are now done.
                  <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="stepper.reset()">Reset</button>
                  </div>
                </mat-step>
              </mat-horizontal-stepper>
            </div>
          </div>
          <div class="col-md-2">
            <div class="box-widget-item fl-wrap whyRegister">
              <div class="box-widget">
                <div class="box-widget-content">
                  <div class="box-widget-item-header">
                    <h3> WHY REGISTER </h3>
                  </div>
                  <ul class="listing">
                    <li>
                      <img src="assets/images/icons/002-tasks.svg" alt="" />
                      <p>Lakhs of Genuine Profiles</p>
                    </li>
                    <li>
                      <img src="assets/images/icons/003-hired.svg" alt="" />
                      <p>Many Verified by Personal Visit</p>
                    </li>
                    <li>
                      <img src="assets/images/icons/005-team.svg" alt="" />
                      <p>Secure &
                        Family Friendly</p>
                    </li>
                    <li>
                      <img src="assets/images/icons/008-protected-profile.svg" alt="" />
                      <p>Strict
                        Privacy Control</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--row end-->
      </div>
    </section>
  </div>
  <!-- content end-->
</div>
<!--wrapper end -->