<!-- <mat-toolbar color="primary">Home</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Form controls</a>
      <a mat-list-item href="#">Navigation</a>
      <a mat-list-item href="#">Layout</a>
      <a mat-list-item href="#">Buttons and Indicators</a>
      <a mat-list-item href="#">Popups & Modals</a>
      <a mat-list-item href="#">Data table</a>
    </mat-nav-list> -->

<!--=================================banner -->
 <section class="inner-intro bg bg-fixed bg-overlay-black-60" style="background-image:url(assets/images/bg/14.jpg);">
                        <div class="container">
                            <div class="flat-title-wrap">
                                <h2><span>Account details</span></h2>
                                <span class="section-separator"></span>
                                <h4>Welcome! Let's start your partner search with this Sign up.
                                </h4>
                            </div>
                        </div>
                    </section>

<!--================================= banner -->
<!-- wrapper -->
<div id="wrapper" class="home-wrap">
  <!-- content-->
  <div class="content">
    <section class="grey-blue-bg small-padding" id="sec1">
      <div class="container">
        <div class="row">
          <!--listing -->
          <div class="col-md-12">
            <div class="list-single-main-item fl-wrap no-mar-bottom ">
                <!-- <mat-form-field class="example-full-width">
                    <input matInput placeholder="Favorite food" value="Sushi">
                  </mat-form-field>
                
                  <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Leave a comment"></textarea>
                  </mat-form-field> -->
          </div>
          </div>
          <!--listing end-->
        </div>
        <!--row end-->
      </div>
    </section>
  </div>
  <!-- content end-->
</div>
<!--wrapper end -->
<md-card>
  <md-card-title>Connection</md-card-title>
  <md-card-content>
    <form [formGroup]="loginForm">
      <md-input-container [ngClass]="{'error': loginForm.controls['email'].errors && !loginForm.controls['email'].pristine}" dividerColor="{{loginForm.controls['email'].errors && !loginForm.controls['email'].pristine ? 'warn' : 'primary'}}">
        <input type="email" mdInput formControlName="email" placeholder="Email" required>
        <div *ngIf="loginForm.controls['email'].errors && !loginForm.controls['email'].pristine" class="error-msg">
          <div [hidden]="!loginForm.controls['email'].errors.required">Email is required.</div>
          <div [hidden]="!loginForm.controls['email'].errors.patternInvalid">Email is invalid.</div>
        </div>
      </md-input-container>
      <md-input-container [ngClass]="{'error': loginForm.controls['password'].errors && !loginForm.controls['password'].pristine}"
        dividerColor="{{loginForm.controls['password'].errors && !loginForm.controls['password'].pristine ? 'warn' : 'primary'}}">
        <input type="password" mdInput formControlName="password" placeholder="Password" required>
        <div *ngIf="loginForm.controls['password'].errors && !loginForm.controls['password'].pristine" class="error-msg">
          <div [hidden]="!loginForm.controls['password'].errors.required">Password is required.</div>
        </div>
      </md-input-container>
    </form>
  </md-card-content>
  <md-card-actions align="end">
    <button md-raised-button class="btn" [disabled]="loginForm.invalid" (click)="login()">Login</button>
  </md-card-actions>
</md-card>